<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white p-4">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Login</h3>
                    </div>
                    <div class="panel-body pt-3">
                        <form [formGroup]="LoginForm">
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="LoginForm.controls['UserName'].dirty && LoginForm.hasError('required','UserName')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="UserName"  type="text" placeholder="UserName">
                                </div>
                            </div>
                            <small class="text-danger" *ngIf="LoginForm.controls['UserName'].dirty && LoginForm.hasError('required','UserName')">*UserName is Required</small>
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="LoginForm.controls['Password'].dirty && LoginForm.hasError('required','Password')">
                                    <span class="fa fa-lock p-2"></span>
                                    <input formControlName="Password" [type]="text" placeholder="password">
                                    <span (click)="hideshowpass()" class="fa {{eyeIcon}}"></span>
                                </div>
                            </div>
                            <small class="text-danger" *ngIf="LoginForm.controls['Password'].dirty && LoginForm.hasError('required','Password')">*Password is Required</small>
                            <div class="form-inline fr mt-4">
                                <a id="forget"  class="font-weight-bold">Forget Password?</a>
                            </div>
                            <button type="submit" (click)="OnSubmit()" class="btn btn-primary btn-block mt-4 w-100">Login</button>
                            <div class="text-center pt-4 text-muted mb-4">Don't have account? 
                                <a id="forget"   [routerLink]="['/signup']" >Sign Up</a>
                            </div>
                        </form>
                    </div>
                    <div class="mx-3 my-2 py-2 bordert">
                    <div class="text-center py-3">
                        <a href="https://www.facebook.com" target="_blank" class="px-2"><i class="fa fa-brands fa-facebook" style="font-size: 40px; color: #1877F2;"></i></a>
                        <a href="https://www.google.com" target="_blank" class="px-2"><i class="fa fa-brands fa-google" style="font-size: 40px; color: #DB4437;"></i></a>
                        <a href="https://www.github.com" target="_blank" class="px-2"><i class=" fa fa-brands fa-github" style="font-size: 40px; color: black;"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>